.margin-5 {
  margin: 5px;
}

.blockList {
  display: flex;
  width: 100%;
  max-width: 800px;
}

.divHeader {
  font-weight: bold;
  width: 25%;
  box-sizing: border-box;
  flex-grow: 1;
}

.divCell {
  width: 25%;
  box-sizing: border-box;
  flex-grow: 1;
}
