html,
body {
  width: 200px;
  height: 100px;
}

.hidden {
  display: none;
}

button {
  border: none;
  width: 45%;
  height: 100%;
  margin: 0 1%;
  padding: 4px;
  text-align: center;
  font-size: 1.5em;
  cursor: pointer;
  background-color: #e5f2f2;
}

button:hover {
  background-color: #cff2f2;
}

button[type="reset"] {
  background-color: #fbfbc9;
}

button[type="reset"]:hover {
  background-color: #eaea9d;
}

.flex {
  display: flex;
  justify-content: space-between;
}

#popup-content {
  width: 100%;
  height: 70%;
}

#options-link {
  text-align: right;
  padding: 0 5px;
}
